$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1200px;


@mixin respond($breakpoint) {
    @if $breakpoint == mobile {
      @media (max-width: 480px) { @content; }
    } @else if $breakpoint == tablet {
      @media (max-width: 768px) { @content; }
    } @else if $breakpoint == laptop {
      @media (max-width: 1024px) { @content; }
    } @else if $breakpoint == desktop {
      @media (max-width: 1200px) { @content; }
    }
  }  



.container{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 1.1rem;

    @include respond(tablet){
        font-size: 0.9rem;
    }

    h1{
        text-align: center;
        font-size: 2.4rem;
        color:rgb(97, 167, 224);

        @include respond(laptop){
            font-size: 2rem;
        }

        @include respond(tablet){
            font-size: 1.7rem;
        }

        @include respond(mobile){
            font-size: 1.5rem;
        }
    }
    h2{
        text-align: center;
        font-size: 2rem;

        @include respond(laptop){
            font-size: 1.7rem;
        }

        @include respond(tablet){
            font-size: 1.6rem;
        }
    }

    form{
        display: flex;
        flex-direction: column;
        // padding: 0rem 3rem;

        .inputs{
            display: flex;
            gap: 4rem;
            flex-wrap: wrap;

            @include respond(desktop){
                gap: 1rem;    
            }

            @include respond(laptop){
                gap: 0.8rem;    
            }
            
            @include respond(tablet){
                gap: 0.5rem;    
                flex-direction: column;
            }

            @include respond(mobile){
                gap: 0.3rem;    
            }

            .input-container{
                display: flex;
                // background: lightcoral;
                padding: 10px;
                align-items: center;
                // background-color: red;
    
                label{
                    margin: 0.4rem;
                    // font-size: 1.1rem;
                }
    
                .input{
                    padding: 0.5rem;
                    border-radius: 0.5rem;
                    background-color:  rgb(248, 246, 246);
                    border: 1px solid lightgray;
                    width: 15rem;
                }
    
                .input-uploadFiles{
                    border: none;
                }
            }
        }
    }

    button{
        margin: auto;
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
        border-radius: 0.5rem;
        border: none;
        cursor: pointer;
        background-color: black;
        color: white;

        @include respond(tablet){
            padding: 0.4rem 0.7rem;
        }
    }

    .event-container{
        margin: 2rem;
        border: 1px solid lightgray;
        background-color: rgb(243, 243, 243);
        border-radius: 0.8rem;
        padding: 1rem;
        // min-width: 20rem;

        .title{
            font-size: 1.5rem;

            @include respond(tablet){
                font-size: 1.2rem;
            }
        }

        img{
            margin: 0.5rem;
        }
    }
}